.backdrop {
  background: #f9feffce;
  border-radius: 10px 10px 0 0;
  box-shadow: -1px -4px 11px 0px #68686852;
}

.wrapper {
  width: 90%;
}

.toggler {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 11px 0px #68686852;
  color: rgb(255, 120, 90);
}
