.page {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: 0;
  grid-row: 1;
  grid-column: 2;
  background-color: tomato;
}
.face {
  background-color: red;
  background-size: cover;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
}
.backface {
  background-color: violet;
  transform: rotateY(180deg);
}
